@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    background-color: #f3f3f3;
}

* {
    font-family: "Poppins", sans-serif;
}

.bg-home{
    background-image: url(./assets/bg.png);
}

footer{
    background-color: rgb(200, 0, 0);
}
